
<style>
* {
  box-sizing: border-box;
}

 body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #d5e8cd;
    min-width: 500px;
}
.container {
    margin-top: 5px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.card:hover {
  background-color: #eabd84;
}
img {
  height: 200px;
  width: 100%;
  border-radius: 13%;
}

  h1 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  h5 {
    text-align: right;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: right;
  }
  ul li {
    text-align: right;
    list-style-type: none;
  }
  .grid-container {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  padding: 10px;
}
.grid-item {
  padding: 12px;
  font-size: 18px;
  text-align: center;
  text-align: left;
  background-color: #f5f5f5;
  border-radius: 47px;
}



.ul li  {
  text-align: center;
  display: inline-block;
  margin-left: 40px;
}

a {

  color: white;

}

a .btn:hover {
  background-color:#24333a;
}
.hos li {
  text-align: center;
}
.right li {
  text-align: left;
}
p {
  text-align: left;
}
h6 {
  text-align: center;
}
.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

</style>

<div class="grid-container">
  <div class="grid-item">
    <h1>8 Steps to Study in Germany
</h1>
<ol>
  <li>Find a Study Program.</li>
  <li>Meet All Requirements.</li>
  <li>Learn The German Language.
</li>
  <li>Find Financial Resources.
</li>
  <li>Apply For Admission.
</li>
  <li>Get Your German Student Visa.</li>
  <li>Find Accommodation.</li>
  <li>Enroll At Your University.</li>

</ol>
   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div>


<h2>8 Steps to study in Germany</h2>
<p style="text-align: center">Follow these steps .</p><br><br>
<div class="container-2">
<div class="row">
  <div class="column">
    <div class="card">
      <a href="https://www.topuniversities.com/student-info/scholarship-advice/scholarships-study-germany">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585679629/program_evhw4a.jpg"/></a>
      <h3>1- Find a Study Program.</h3>

      <a href="https://www.topuniversities.com/student-info/scholarship-advice/scholarships-study-germany"><button class=" btn btn-primary" style="width: 170px">See more information</button></a>
    </div>
  </div>

  <div class="column">
    <div class="card"><a href="https://www2.daad.de/deutschland/studienangebote/international-programmes/en/">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585679644/uni1_hcw5zq.jpg"/></a>
      <h3>2- Meet All Requirements</h3>
      <a href="https://www2.daad.de/deutschland/studienangebote/international-programmes/en/"><button class=" btn btn-primary" style="width: 170px">See more information</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.goethe-university-frankfurt.de/44341978/Welcome_to_the_International_Office_website">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585679626/flag_kezkew.jpg"/></a>
      <h3>3- Learn The German Language</h3>
      <a href="https://www.goethe-university-frankfurt.de/44341978/Welcome_to_the_International_Office_website"><button class=" btn btn-primary" style="width: 170px">See more information</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.topuniversities.com/student-info/scholarship-advice/scholarships-study-germany">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585679614/finance_ilvhsy.jpg"/></a>
      <h3>4- Find Financial Resources</h3>
      <a href="https://www.topuniversities.com/student-info/scholarship-advice/scholarships-study-germany"><button class=" btn btn-primary" style="width: 170px">See more information</button></a>

    </div>
  </div>

</div> <br><br>
<div class="container-2">
  <div class="row">
  <div class="column">
    <div class="card">
      <a href="https://www.hochschulstart.de/index.php">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585679644/uni2_hmsqkm.jpg"/></a>
      <h3>5- Apply For Admission.</h3>

      <a href="https://www.hochschulstart.de/index.php"><button class=" btn btn-primary" style="width: 170px">See more information</button></a>
    </div>
  </div>

  <div class="column">
    <div class="card"><a href="https://www2.daad.de/deutschland/studienangebote/international-programmes/en/">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585679826/passport.jpg"/></a>
      <h3>6- Get Your German Student Visa</h3>
      <a href="https://www2.daad.de/deutschland/studienangebote/international-programmes/en/"><button class=" btn btn-primary" style="width: 170px">See more information</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.topuniversities.com/student-info/careers-advice/how-work-germany-during-or-after-your-studies">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585679625/flat_yzgt8p.jpg"/></a>
      <h3>7- Find Accommodation</h3>
      <a href="https://www.topuniversities.com/student-info/careers-advice/how-work-germany-during-or-after-your-studies"><button class=" btn btn-primary" style="width: 170px">See more information</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.topuniversities.com/student-info/scholarship-advice/scholarships-study-germany">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585679642/univer_vjw4rs.jpg"/></a>
      <h3>8- Enroll At Your University</h3>
      <a href="https://www.topuniversities.com/student-info/scholarship-advice/scholarships-study-germany"><button class=" btn btn-primary" style="width: 170px">See more information</button></a>

    </div>
  </div>
</div> <br><br>
<div class="grid-container">
  <div class="grid-item">
    <h1>8 Steps to Study in Germany
</h1>
<ol>
  <li>Find a Study Program.</li>
  <li>Meet All Requirements.</li>
  <li>Learn The German Language.
</li>
  <li>Find Financial Resources.
</li>
  <li>Apply For Admission.
</li>
  <li>Get Your German Student Visa.</li>
  <li>Find Accommodation.</li>
  <li>Enroll At Your University.</li>

</ol>
   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div>


<div class="grid-container">
  <div class="grid-item">
   <h1>1. Find a Study Program
</h1>
<p>Finding a university and choosing a study program that suits your interests is the first step to planning your studies in Germany.</p><br>


   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>

<div class="grid-container">
  <div class="grid-item">
    <h1>2. Meet All Requirements</h1>
    <h6>(Two weeks before the application is opened)</h6>

<p>Now that you have decided what university and what study program you want to attend you must check out all the requirements. For this purpose, you check the university website and their admission requirements section. If there are things you don’t understand never hesitate to contact the university directly.</p>
<br>
   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>

<div class="grid-container">
  <div class="grid-item">
    <h1>
3. Learn The German Language</h1>
    <h6>(Start learning it 6 months before the application or the course commencing)</h6>

<p>Now that you have decided what university and what study program you want to attend you must check out all the requirements. For this purpose, you check the university website and their admission requirements section. If there are things you don’t understand never hesitate to contact the university directly.</p>
<br>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>

<div class="grid-container">
  <div class="grid-item">
    <h1>4. Find Financial Resources
</h1>
    <h6>(at least two weeks before you apply for a German student visa)</h6>

<p>The next step is making sure you have the required financial means to live and study in Germany. Under the current law, every foreign non-EU or non-EEA student must have proper financial means to finance their stay in Germany during their studies..</p>
<p>An international student in Germany must possess a minimum of €10,236 which is estimated to be enough for a student to cover the cost of living for the first year of his studies. This amount of money needs to be deposited into a German blocked bank account.</p>
<br>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>

<div class="grid-container">
  <div class="grid-item">
    <h1>
5. Apply For Admission</h1>
    <h6>(As soon as you complete requirements)

</h6>

<p>Now that you have decided what university and what study program you want to attend you must check out all the requirements. For this purpose, you check the university website and their admission requirements section. If there are things you don’t understand never hesitate to contact the university directly.</p>
<br>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>
<div class="grid-container">
  <div class="grid-item">
    <h1>6. Get Your German Student Visa</h1>
    <h6>(As soon as you receive the admission letter)

</h6>

<p></p>
<br>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>

<div class="grid-container">
  <div class="grid-item">
    <h1>7. Find Accommodation</h1>
    <h6>(If possible two weeks before your landing in Germany)</h6>

<p></p>
<br>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>

<div class="grid-container">
  <div class="grid-item">
    <h1>8. Enroll At Your University</h1>
    <h6>(First week after arriving in Germany)</h6>

<p>The final step to officially be given a place at the university of your choice is to enroll in the course at which you have been admitted. In this sense, the enrollment process takes you from a successful applicant to a registered student in Germany.

The public higher education in Germany is offered for free, but you will still have to pay a registration fee which ranges somewhat between €150 and €250. Additionally, you will have to pay for your Semester ticket to use public transportation free of charge for 6 months.

To enroll at your university course in Germany you need to personally appear at the administration office of your university and submit the following documents:</p>
<br>
<ol>
  <li>Your valid passport</li>
  <li>A passport photo</li>
  <li>Your Visa or Residence Permit</li>
  <li>Completed and signed Application Form</li>
  <li>Degree qualifications (original documents or certified copies)</li>
  <li>The Letter of Admission</li>
  <li>Proof of health insurance in Germany </li>
  <li>The payment fee receipt</li>

</ol>
<a href="https://www.studying-in-germany.org/requirements-to-study-in-germany-for-indian-students/"><p>Check out all the requirements</p></a>
   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>
