<style>
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #d5e8cd;
    min-width: 500px;
}
.container {
    margin-top: 5px;
}

  h1 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  h5 {
    text-align: right;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: right;
  }
  ul li {
    text-align: right;
    list-style-type: none;
  }
  .grid-container {
  display: grid;
  grid-gap: 20px;

  padding: 10px;
}
.grid-item {
  padding: 12px;
  font-size: 18px;
  text-align: center;
  text-align: left;
  background-color: #f5f5f5;
  border-radius: 40px;
}
.grid-item:hover {
  background-color: #eabd84;
}


.ul li  {
  text-align: center;
  display: inline-block;
  margin-left: 40px;
}
img {
  margin-left: 10px;
  text-align: center;
  border-radius: 50px;
}
.center {
  margin: auto;
}
img:hover {
  background-color:blue;
}
a:hover {
  color: red;
}
.btn a{

  display: block;
  width: 130px;
  color: white;
   margin: 0;
     display: flex;
  justify-content: center;
  align-items: center;


}

a .btn:hover {
  background-color: grey;
}
.hos li {
  text-align: center;
}
.right li {
  text-align: left;
}
p {
  text-align: left;
}
.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

</style>

<div class="grid-container">
  <div class="grid-item">
    <h1>لماذا العلاج في ألمانيا</h1>
    <p style="text-align: right;">تعتبر ألمانيا من أرقى دول العالم في المجال الطبي وخبرة أطبائها وجودة نظامها الصحي غنية عن التعريف كما أن إسهامات الألمان في البحوث الطبية والأدوية تأتي في رأس قائمة الدول المتقدمة
 هناك الكثير من المستشفيات في ألمانيا والعيادات الخاصة أيضاً ، المستشفيات في معظمها مملوكة للدولة وتشرف عليها الدولة مباشرة أو الجامعات وتعتبر المستشفيات الجامعية في ألمانيا من أفضل المستشفيات في العالم.</p>
 <p style="text-align: right;">بالنسبة للعلاج في ألمانيا فالمطلوب هو تقرير طبي حديث باللغة الانجليزية ليس أقدم من ثلاثة أشهر وصورة من جواز السفر ويجب مراسلة المستشفى للحصول على الموافقة وعلى دعوة من المستشفى أو العيادة للقدوم إلى ألمانيا ، هناك بعض المستشفيات التي تضع شروطاً مسبقة لقبول الطلبات من ضمنها وضع مبلغ ضمان في المستشفى.
 </p>

  </div>

</div>

<div class="grid-container">
  <div class="grid-item">
    <a href="https://www.charite.de/en/"><h1>Charité – Universitätsmedizin Berlin
</h1></a>

    <div class="center">

    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737045/sur_estkqa.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737669/jair-lazaro-0lrJo37r6Nk-unsplash_nlzbby.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737032/hos5_zokmmn.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737026/hospital_naf2zp.jpg" width="200px" height="200px">
    </div> <br>

   <p>Charité is one of the largest university hospitals in Europe. All of our clinical care, research and teaching is delivered by physicians and researchers of the highest international standard. Charité proudly lays claim to more than half of all German Nobel Prize winners in Physiology or Medicine, including Emil von Behring, Robert Koch, and Paul Ehrlich. Charité is internationally renowned for its excellence in teaching and training.  Charité – Universitätsmedizin Berlin represents a single medical faculty, which serves both Humboldt Universtität zu Berlin and Freie Universität Berlin.  Charité extends over four campuses, and has close to 100 different Departments and Institutes, which make up a total of 17 different CharitéCenters.  Having marked its 300-year anniversary in 2010, Charité is now one of the largest employers in Berlin, employing 14,576 staff (or 18,010 if including its subsidiaries), and with a total annual turnover of €1.8 billion</p>
<div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>
<div class="grid-container">
  <div class="grid-item">

    <a href="https://www.heidelberg-university-hospital.com/home/"><h1>Heidelberg University Hospital</h1></a>
    <div class="center">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737045/sur_estkqa.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737028/hos7_lpfmib.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737032/hos5_zokmmn.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737026/hospital_naf2zp.jpg" width="200px" height="200px">
    </div><br>

   <p>Heidelberg University Hospital with its 43 specialized clinical departments is one of the leading medical centers in Europe.

Every year, hundreds of thousands of patients from all over Germany and many other countries come here to make use of our modern treatment facilities. The highest standards of medical care are guaranteed by our world-renowned professors, distinguished physicians and committed nursing staff. Heidelberg University Hospital is constantly developing new methods of diagnosis and treatment at the forefront of biomedical science for the benefit of all patients.

On this website we present the wide range of medical treatment options available and provide information about our services for international patients.</p>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>
<div class="grid-container">
  <div class="grid-item">

    <a href="https://www.vivantes-international.com/en/"><h1>Vivantes International Medicine</h1></a>
    <div class="center">
   <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737045/sur_estkqa.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737028/hos7_lpfmib.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737032/hos5_zokmmn.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737026/hospital_naf2zp.jpg" width="200px" height="200px">
    </div><br>

   <p>As the largest state-owned clinic group, Vivantes sets an example for state-of-the-art German medicine. At 10 clinic sites in the German capital of Berlin, we rely on the expertise of 2300 doctors in over 100 clinics, with around 6000 beds. Our Vivantes Comfort Clinics also fulfil the highest demands with regards to comfort and service.

We offer almost all modern medical treatments. Our Acute Medicine Branches are  managed by over 150 internationally recognised professors or leading doctors. Our professors will personally carry out diagnostics and surgeries, and are available to advise patients. Our Vivantes Prevention Center will help to safeguard your health in the long term with individually customised check-up programmes. A wide range of Rehabilitative Aftercare Treatments rounds off our medical services spectrum.

The Vivantes International Medicine Team consists of professional and interculturally trained employees who will look after your well-being, from your enquiry to your journey home, in a highly professional and discreet manner, and in your native language.

We look forward to hearing from you!</p>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>
<div class="grid-container">
  <div class="grid-item">

    <a href="https://www.charite.de/en/international_relations/"><h1>Charité International</h1></a>
    <div class="center">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737045/sur_estkqa.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737028/hos7_lpfmib.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737032/hos5_zokmmn.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737026/hospital_naf2zp.jpg" width="200px" height="200px">
    </div><br>

   <p>Charité staff and students hail from every continent and represent 100 countries. Many of our patients also come from abroad, choosing to be treated by specialists who are world leaders in their fields.

In an effort to promote this diversity, foster international exchange programs, and maintain Charité's multi-faceted nature, we have put in place myriad customizable options that are aimed at patients, students, and staff.</p>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>
<div class="grid-container">
  <div class="grid-item">

    <a href="https://www.dhzb.de/?L=1&cHash=018365cdfc62875d8b75265e37599f4e"><h1>German Heart Center Berlin
Cardiac Medicine of the Highest Quality</h1></a>
    <div class="center">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737045/sur_estkqa.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737028/hos7_lpfmib.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737032/hos5_zokmmn.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737026/hospital_naf2zp.jpg" width="200px" height="200px">
    </div><br>

   <p>We conduct operations to treat all kinds of heart and blood vessel diseases. These operations include coronary artery bypasses, procedures on the body’s main artery (aorta) and the surgical treatment of heart valve disease and heart rhythm disturbances. Whenever possible and suited to the patient, we use minimally invasive surgery (so-called keyhole surgery) for bypasses and heart valve operations.

The German Heart Center Berlin has one of the largest programs for mechanical circulatory support worldwide and is one of the most important centers for heart and lung transplantation in Germany.</p>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>
<div class="grid-container">
  <div class="grid-item">

    <a href="https://www.ukbonn.de/42256BC8002AF3E7/direct/home-en"><h1>UKB University of Bonn</h1></a>
    <div class="center">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737045/sur_estkqa.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737028/hos7_lpfmib.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737032/hos5_zokmmn.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737026/hospital_naf2zp.jpg" width="200px" height="200px">
    </div><br>

   <p>On behalf of the International Medical Service Team (IMS) I would like to extend you a warm welcome. We are pleased that you are interested to have your care at the University Hospital Bonn which is one of the best Medical Centers in Europe.

There are a lot of different questions that need to be answered when receiving medical treatments from a foreign country. Either it is a visa, medical records, translation services or practical tips for visiting Bonn, we would be glad to assist you all the way by providing the support and advice.

At the University Hospital of Bonn you will receive an outstanding medical care like thousands of international patients before. When it comes to our services, you can be assured that you are in good hands. We are capable of dealing with all international patients in regard to their various expectations and different cultural backgrounds. Please don’t hesitate to contact us any time and let us know how we can assist you.</p>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br><div class="grid-container">
  <div class="grid-item">

    <a href="https://helios-international.com/hospitals"><h1>HELIOS Hospital Group</h1></a>
    <div class="center">
   <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737045/sur_estkqa.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737028/hos7_lpfmib.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737032/hos5_zokmmn.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737026/hospital_naf2zp.jpg" width="200px" height="200px">
    </div><br>

   <p>The largest network of hospitals in Germany and Europe
We offer our patients from all over the world proven medical quality as well as individual and modern care services. German healthcare is known as one of the best worldwide. We are Europes‘ largest healthcare provider with acute care facilities in Germany, Spain and Latinamerica, constantly looking for growth and innovation opportunities to create value for our patients, partners, shareholders and employees. Every year, we at Helios treat more than 5 million patients and operate 86 acute care hospitals and 10 prevention centers only across Germany. It includes over 176 of the best private and university clinics in the country, including 52 hospitals for providing emergency medical care and five rehabilitation centres on the shores of the Baltic and Northern seas. Helios provides a wide range of medical services, covering 94% of medical specialities. Seven of them — which provide a full range of medical services — are in Berlin, Duisburg, Erfurt, Krefeld, Schwerin, Wuppertal and Wiesbaden. All clinics in the Helios group are closely involved with Germany's state healthcare system, and they meet the highest governmental and European standards of quality.

In addition, we collaborate with our sister company to offer easy access to 17 Fresenius Vamed rehabilitation centers - thus providing first-class patient care in prevention, acute care medicine and rehabilitation from a single source. Naturally all our facilities offer equipment of the latest generation, gentle treatment procedures and highly qualified doctor and nursing teams.</p>
</ul>
<ul class="right">
  <li>Oncology</li>
  <li>Orthopedics</li>
  <li>Neurosurgery</li>
  <li>Cardiology</li>
  <li>Pediatrics</li>

</ul>
<h2>These hospitals located in :</h2>
<h2>Munich, Leipzig, Krefeld, Berlin, Erfurt, Wuppertal, Sieburg & Wiesbaden</h2>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>

<div class="grid-container">
  <div class="grid-item">

    <a href="https://www.dhzb.de/?L=1&cHash=018365cdfc62875d8b75265e37599f4e"><h1>German Heart Center Berlin
Cardiac Medicine of the Highest Quality</h1></a>
    <div class="center">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737045/sur_estkqa.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737028/hos7_lpfmib.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737032/hos5_zokmmn.jpg" width="200px" height="200px">
    <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585737026/hospital_naf2zp.jpg" width="200px" height="200px">
    </div><br>

   <p>We conduct operations to treat all kinds of heart and blood vessel diseases. These operations include coronary artery bypasses, procedures on the body’s main artery (aorta) and the surgical treatment of heart valve disease and heart rhythm disturbances. Whenever possible and suited to the patient, we use minimally invasive surgery (so-called keyhole surgery) for bypasses and heart valve operations.

The German Heart Center Berlin has one of the largest programs for mechanical circulatory support worldwide and is one of the most important centers for heart and lung transplantation in Germany.</p>

   <div class="center1">
    <button class="btn btn-primary"><%= link_to "Contact us", new_article_path %></button>
  </div>
</div>
</div><br>
